html {
    margin: 0 auto;
}


body {
    margin: 0 auto;
    padding: 0;
    margin: 0;
    border: 0;
}


* {
    box-sizing: border-box;
}

@media screen and (min-width:1000px) {

    header {
        position: absolute;
        left: 0;
        z-index: 1;
    }
}

/** NAV & BURGERMENU **/


.logo {
    width: 65px;
    height: 65px;
    position: fixed;
    right: 93vw;
    top: 1.5vw;
    cursor: pointer;
    z-index: 1;
}

nav a {
    color: black;
}

nav a:hover {
    color: #ffb100;
    text-shadow: 0 0 0.6px #ffb100;
}



.logo:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}


.hidden {
    display: none;
}

#menu .hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    font-size: 1.5em;
    cursor: pointer;
    color: #ff9300;
    position: absolute;
    top: 3vw;
    right: 4vw;
    z-index: 3;

}

#menu {
    padding-top: 50px;
    position: relative;
    list-style-type: none;
    background-color: #0d0c1d;
    width: 100vw;
    height: 20000px;
    z-index: 2;
    margin: 0px;
}


#menu a {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}


#menu a:hover {
    transform: scale(1.2);
}


.topnav a {
    cursor: pointer;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 2px;
    font-size: 1rem;
    line-height: 80px;
    font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
    color: black;
    text-shadow: 0 0 0.5px black;
}

.burgermenu {
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
}

.topnav {
    overflow: hidden;
    justify-content: flex-end;
    display: flex;
    margin-right: 50px;

}

/***********************************************************/




@media screen and (min-width:600px) {
    #menuknap {
        display: none;
    }
}


@media screen and (max-width:600px) {
    .topnav {
        display: none;
    }
}

@media screen and (min-width:960px) {


    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    .topnav {
        height: 80px;
    }


}
